@page
@model PrivacyModel
@{
    ViewData["Title"] = "About The App";
}
<h1>@ViewData["Title"]</h1>

<p>This simple web application was developed by Harrison Hess for the purpose of the Brightway Code Test.</p>
<p>* Data pulled from: https://www.brightway.com/CodeTests/pizzas.json *</p>